[submodule "subprojects/StereoKit"]
	path = subprojects/StereoKit
	url = https://github.com/slitcch/StereoKit.git
[submodule "subprojects/wlroots"]
	path = subprojects/wlroots
	url = https://github.com/technobaboo/wlroots.git
